
# ignore colcon workspace
build
install
log

# ignore python folders
__pycache__

# ignore vscode folder
.vscode

# Conan + Build
CMakeUserPresets.json
Build/
build_swig/
.vs/

# ignore node_modules
node_modules
fastdds_javascript_examples/master_wrap.cxx
fastdds_javascript/src/swig/fastdds_wrap.cxx
fastdds_javascript/src/swig/fastdds_wrap.cxx
fastdds_javascript/src/swig/fastdds_wrap.cxx
fastdds_javascript_HelloWorldMod/CMakeLists.txt
fastdds_javascript_HelloWorldMod/master_wrap.cxx
fastdds_javascript/src/swig/fastdds_wrap.cxx
fastdds_csharp_examples/master_wrap.cxx
fastdds_csharp_examples/master_wrap.h
fastdds_csharp/src/swig/fastdds_wrap.cxx
fastdds_csharp/src/swig/fastdds_wrap.h
