
# ignore colcon workspace
build
install
log

# ignore python folders
__pycache__

# ignore vscode folder
.vscode

# Conan + Build
CMakeUserPresets.json
Build/
build_swig/
.vs/

# ignore node_modules
node_modules
